<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apunta</title>
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
  </head>
  <body>

<h2>Apunta</h2>

<form action="/addEntry" method="post">
  <div class="wrapper">
    <div class="box">Date</div>
    <div class="box">Category</div>
    <div class="box">Who</div>
    <div class="box">Currency</div>
    <div class="box">Quantity</div>
    <div class="box">Comment</div>

    <div class="box">
      {{ range .MonthRecs }}
        {{ if .ActiveGroup }}
      <input type="date" class="input-field" id="entrydate" name="date" value={{.StartDate.Format "2006-01-02"}}>
        {{ end }}
      {{ end }}
    </div>
    <div class="box">
      <select id="category" name="category">
        {{ range.Categories }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}
      </select>
      <!-- <input type="text" class="input-field" name="category"><br /> -->
    </div>
    <div class="box">
      <select id="who" name="who">
        {{ range.Payers }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}
      </select>
      <!-- <input type="text" class="input-field" name="who"><br /> -->
    </div>
    <div class="box">
      <select id="currency" name="currency">
        {{ range.Currencies }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}
      </select>
      <!-- <input type="text" class="input-field" name="currency"><br /> -->
    </div>
    <div class="box">
      <input type="text" class="input-field" name="quantity"><br />
    </div>
    <div class="box">
      <input type="text" class="input-field" name="comment"><br />
    </div>
    <input type="submit" value="Add entry">
  </div>
</form>

<p class="bottom-one"><hr/></p>


<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="dropdown-tab" checked>
  <label for="tab1">Dropdowns</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="previous-data-tab">
  <label for="tab2">Previous data</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="write-json-tab">
  <label for="tab3">Write JSON</label>
  <!-- Tab 4 -->
  <input type="radio" name="tabset" id="tab4" aria-controls="add-sheet-tab">
  <label for="tab4">Add sheet</label>

  <div class="tab-panels">

    <section id="dropdown-tab" class="tab-panel">

Add to dropdowns:
<form class="form-inline" action="/addCategory" method="post">
  <label>Add category label:</label>
  <input type="text" placeholder="Category label" name="newCategory">
  <button type="submit">Add category</button>
</form>

<form class="form-inline" action="/addWho" method="post">
  <label>Add participant name:</label>
  <input type="text" placeholder="Name" name="newPayer">
  <button type="submit">Add participant</button>
</form>

<form class="form-inline" action="/addCurrency" method="post">
  <label>Add currency:</label>
  <input type="text" placeholder="EUR" name="newCurrency">
  <button type="submit">Add currency</button>
</form>

    </section>

    <section id="previous-data-tab" class="tab-panel">

Input previous debt data (EUR assumed):
<form class="form-inline" action="/inputPreviousDebts" method="post">
  <label>Previous debtor name:</label>
  <input type="text" placeholder="Name" name="prevDebtName">
  <label>Previous debt amount:</label>
  <input type="text" placeholder="12.34" name="prevDebtAmount">
  <button type="submit">Submit</button>
</form>

Previous year data (EUR):
{{ range $name, $value := .PrevDebt }}
{{ $name }}: {{ $value }}<br />
{{ end }}

    </section>

    <section id="write-json-tab" class="tab-panel">

<form class="form-inline" action="/writeJSON" method="post">
  <label>Write JSON to file:</label>
  <button type="submit">Save</button>
</form>

    </section>

    <section id="add-sheet-tab" class="tab-panel">

<form class="form-inline" action="/addSheet" method="post">
  <label>Month name:</label>
  <input type="text" placeholder="aug2023" name="sheetName">
  <label>Input month-year:</label>
  <input type="month" placeholder="" name="monthYearSheet" value="2022-01">
  <button type="submit">Add month sheet</button>
</form>

<form class="form-inline" action="/calcExchRateMonth" method="post">
  {{ range .MonthRecs }}
    {{ if .ActiveGroup }}
      <label>Calculate exchange rate for sheet: {{.GroupName }}
    {{ end }}
  {{ end }}

  <button type="submit">Calculate Exchange Rate</button>
</form>

    </section>
  </div>

</div>

<p class="bottom-one"><hr/></p>

<div class="monthWrapper">
  <form action="/changeSheet" method="post">
    <div class="box">
      Change month to:
      <select id="changeSheet" name="changeSheet">
        {{ range.MonthRecs }}
        <option value="{{.GroupName}}">{{.GroupName}}</option>
        {{ end }}
      </select>
    </div>
    <input type="submit" value="Change month">
  </form>

  {{ range .MonthRecs }}
    {{ if .ActiveGroup }}
      Month name: {{.GroupName}}<br>
      {{ range $index, $value := .AvgExchRates }}
      Average Exchange Rate for {{ $value.CurrFrom }}->{{ $value.CurrTo }}: {{ printf "%.3f" $value.AvgVal }}<br>
      {{ end }}
      {{ range $key, $value := .Stats.AllPayersStats }}
        {{ $key }}<br>
        Spent: {{ printf "%.2f" $value.Spent }}<br>
        Accum: {{ printf "%.2f" $value.Accum }}<br>
        Debt: {{ printf "%.2f" $value.Debt }}<br>
      {{ end }}
      <div class="wrapper">
        {{ range .EntryRecords }}
        <div class="box">{{.Date.Format "2006 Jan 02"}}</div>
        <div class="box">{{.Category}}</div>
        <div class="box">{{.PersonName}}</div>
        <div class="box">{{.Currency}}</div>
        <div class="box">{{.Amount}}</div>
        <div class="box">{{.Comment}}</div>
        {{ end }}
      </div>
    {{ end}}
  {{ end }}

</div>

</body>
</html>