body {
  margin: 30px;
  background-color: #c6c6c6;
}

h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:1000px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}

#jan2021:checked ~ .panels #jan2021-panel,
#feb2021:checked ~ .panels #feb2021-panel,
#mar2021:checked ~ .panels #mar2021-panel,
#apr2021:checked ~ .panels #apr2021-panel,
#may2021:checked ~ .panels #may2021-panel,
#jun2021:checked ~ .panels #jun2021-panel,
#jul2021:checked ~ .panels #jul2021-panel,
#aug2021:checked ~ .panels #aug2021-panel,
#sep2021:checked ~ .panels #sep2021-panel,
#oct2021:checked ~ .panels #oct2021-panel,
#nov2021:checked ~ .panels #nov2021-panel,
#dec2021:checked ~ .panels #dec2021-panel{
  display:block
}
#jan2021:checked ~ .tabs #jan2021-tab,
#feb2021:checked ~ .tabs #feb2021-tab,
#mar2021:checked ~ .tabs #mar2021-tab,
#apr2021:checked ~ .tabs #apr2021-tab,
#may2021:checked ~ .tabs #may2021-tab,
#jun2021:checked ~ .tabs #jun2021-tab,
#jul2021:checked ~ .tabs #jul2021-tab,
#aug2021:checked ~ .tabs #aug2021-tab,
#sep2021:checked ~ .tabs #sep2021-tab,
#oct2021:checked ~ .tabs #oct2021-tab,
#nov2021:checked ~ .tabs #nov2021-tab,
#dec2021:checked ~ .tabs #dec2021-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.bottom-three {
   margin-bottom: 3cm;
}

.bottom-two {
   margin-bottom: 2cm;
}

.bottom-one {
   margin-bottom: 1cm;
}

input.input-field {
  width: 90%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 2px;
  outline: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px 120px 50px 100px 150px 250px;
  grid-gap: 3px;
  background-color: #c6c6c6;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 3px;
  padding: 3px;
  font-size: 100%;
}